<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910201107184-3jhsck11a6lb8vss1p79vi1jfdtsln06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910201107184-3jhsck11a6lb8vss1p79vi1jfdtsln06</string>
	<key>API_KEY</key>
	<string>AIzaSyARMxXW67ri7FUabTD4HVwjNBZCvCvc5to</string>
	<key>GCM_SENDER_ID</key>
	<string>910201107184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Tomi.YoApp</string>
	<key>PROJECT_ID</key>
	<string>yo-app-c6809</string>
	<key>STORAGE_BUCKET</key>
	<string>yo-app-c6809.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910201107184:ios:e287a351cf9d46d062c835</string>
</dict>
</plist>